@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #fdac07;
}

::selection {
  color: white;
  background: #fdac07;
}

.navbar {
  @apply fixed w-full bg-white shadow-xl px-20 py-5 flex items-center gap-x-7;
}
